* {
    font-family: Roboto, sans-serif, Arial;
    box-sizing: border-box;
    overflow: auto;
}
body {
    margin: 0;
    overflow: auto;
}
li {
    list-style: none;
}
li a {
    color: #b3bfc9;
    text-decoration: none;
    color: #b0b9c2;
}
.header {
    background-color: #1F2937;
    display: flex;
    height: 210px;
    min-width: 200px;
    
}
#logo {
    margin-left: 250px;
    height: 100px;
    width: auto;
    margin-bottom: 100px;

}
.nav-bar {
    height: 70px;
}
nav > ul {
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 370px;
    margin-top: 30px;
    font-weight: 500;
    font-size: large;
    color: #b0b9c2
}

.hero {
    color: #b0b9c2;
    height: 400px;
    background-color: #1F2937;
    display: flex;
}
.hero-text {
    width: 400px;
    padding-top: 0;
    margin-left: 200px;
    color: #b0b9c2;
    font-size: 18px;
}
.hero h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: extra-bold;
    margin-bottom: 0;
}
.signup {
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    height: 35px;
    width: 120px;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: 400;
    margin-right: 140px;
}
.main-img {
    margin-left: 100px;
    margin-top: 23px;
}
.info {
    background-color: #F9FAF8;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pictures {
    display: flex;
    justify-content: center;
    width: 880px;
    height: 200px;
    align-items: flex-end;
}
.images {
    display: flex;
    width: 1500px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin: 0 35px;
}
.img-description {
    display: flex;
    width: 870px;
}
.description {
    display: flex;
    margin: 10px 25px;
    text-align: center;
}
.html-img {
    width: 142px;
    height: 142px;
}
.java-img {
    width: 175px;
    height: 142px;
}
.python-img {
    width: 184px;
    height: 143px;
}
.mysql-img {
    width: 142px;
    height: 142px;
}

h2 {
    color:#1F2937;
    font-size: 36px;
/*  text-align: center; */
    font-weight: extra-bold;
}
.quote-container {
    height: 480px;
    background-color: #E5E7EB;
}
.quote {
    display: flex;
    justify-content: center;
    color: #1F2937;
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
    padding: 30px 200px;
    margin-bottom: 0;
}
h3 {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-left: 600px;
    padding-top: 0;

}
#sign-up {
    height: 410px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup-box {
    display: flex;
    width: 940px;
    height: 175px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 9px;
    align-items: center;
    justify-content:space-between;
}
.box-text {
    margin-top: 30px; 
    margin-left: 150px;
    width: 300px;
    font-size: 11;
    white-space: pre-wrap;
    font-weight: 200;

}
.signup-box > .singup {
    border: 1px solid #F9FAF8;
    
}
span {
    font-size: 24px;
    font-weight: bold;
}
footer {
    background-color: #1F2937;
    height: 110px;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
}